<mat-toolbar>
    <div class="title">
        <img src="../../../assets/logo.png" alt="">
        <h1>Meteor</h1>
    </div>
  <div>
    <button mat-button routerLink="home" color="primary">
      <mat-icon fontIcon="home"></mat-icon>
      Home
    </button>
    <button mat-button routerLink="dashboard" color="primary">
      <mat-icon fontIcon="dashboard"></mat-icon>Dashboard
    </button>
    <button mat-button routerLink="about" color="primary">
      <mat-icon fontIcon="person"></mat-icon>About
    </button>
  </div>
   <mat-slide-toggle></mat-slide-toggle>
</mat-toolbar>