@use '@angular/material' as mat;
@import '../../../custom-theme.scss'; 

mat-toolbar{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
  flex:1;
  background-color: transparent;
}
.title{
  display: flex;
  flex-direction: row;
  align-items: center;
  h1{
    color: mat.get-color-from-palette($meteor-primary, 500);
    font-weight: 900;
  }
  img{
    width: 50px;
  }
}